<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/AppleTrucho.ico">
    <link rel="stylesheet" href="C:\Users\Agustín\Desktop\Tecnicatura\Programacion 2\Practica1,2,3y4\galeria.css">
    <title>Galeria</title>
</head>
<body>
    <header>
        <a href="C:\Users\Agustín\Desktop\Tecnicatura\Programacion 2\Practica1,2,3y4\index.html" style="text-decoration: none;">Inicio </a>
        <a href="galeria.html" style="text-decoration: none;">Galeria </a>
        <a href="tabla.html" style="text-decoration: none;">Tabla </a>
        <a href="lista.html" style="text-decoration: none;">Lista </a>
        <a href="formulario.html">Formulario</a>
        <a href="https://google.com" target="_blank" style="text-decoration: none;">Google</a>
    </header>
    <main>
        <h1 class="titulo">Galeria</h1>
        <br>
        <a href="#seccion-galeria">Ir a seccion galeria 1 [medio al pedo este hipervinculo]</a>
        <section id="seccion-galeria">
            <div>
                <img src="img/Auto.jpg" alt="Auto" class="imagen">
                </a>
                <figcaption>Click en la imagen para abrirla en una pestaña aparte [porque la actividad lo pide no porque quiera]</figcaption>
                <h3>Primero soñe que se me hongueaba toda la weed</h3>
                <p><strong>DIOS NO LO PERMITA, VETE HUMEDAD VETE!</strong></p>
            </div>
            <div>
                <h1>----------------------------------------------------------------------------------------------------------------</h1>
                <h1>Si, hice una linea divisoria con un h1 porque soy vago</h1>
                <a href="img/mnewbis.gif" download="" class="card">
                    <img src="img/mnewbis.gif" alt="LOLOL" target="_blank">
                </a>
                <figcaption>Click en la imagen para descargarla [porque la actividad lo pide no porque quiera]</figcaption>
                <h3>Ademas... click <a href="https://tenor.com/es-419/view/mnewbis-gif-7717042099271000939"><strong>ACA</strong> para descargarla en PDF</a></h3>
                <h3>Otra cosa... click <a href="mailto:moked1299@mail.gov.il"><strong>ACA</strong> para enviar un correo al gobierno de Israel [TU SEGURIDAD NO ME CONCIERNE]</a></h3>

            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>