<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/AppleTrucho.ico">
    <link rel="stylesheet" href="../Estilos.css">
    
    <title>Lista</title>
</head>
<body>
    <header>
        <div class="Barra">
            <nav class="Menu">
                <a href="../index.html" style="text-decoration: none;">Inicio</a>
                <a href="galeria.html" style="text-decoration: none;">Galeria</a>
                <a href="tabla.html" style="text-decoration: none;">Tabla</a>
                <a href="lista.html" style="text-decoration: none;">Lista</a>
                <a href="formulario.html">Formulario</a>
                <a href="https://google.com" target="_blank" style="text-decoration: none;">Google</a>
            </nav>
            <img src="img/AppleTrucho.ico" alt="AppleTrucho" class="Logo">
        </div>
    </header>
    <main>
        <div>
            <p>LISTA DESORDENADA</p>
            <ul>
                <li>No tiene</li>
                <li>Orden</li>
                <li>Esto</li>
            </ul>
        </div>
        <div>
            <p>LISTA ORDENADA</p>
            <ol>
                <li>Esto</li>
                <li>Si</li>
                <li>Tiene Orden kjjj</li>
            </ol>
        </div>
        <div>
            <p>LISTA DESORDENADA DEPENDIENTE</p>
            <ul>
                <li>Osea</li>
                    <ul>
                        <li>Es la lista</li>
                        <ul>
                            <li>De la lista</li>
                            <li>Y esta DESORDENADA</li>
                        </ul>
                    </ul>
            </ul>
        </div>
        <div>
            <p>LISTA DEFINICION</p>
            <dl>
                <dt>Y esta ni se para que es</dt>
                <dd>Un sucio corporativo</dd>
                <dd>Esclavo de la burocracia</dd>
                <dt>sabra...</dt>
                <dd>para que querra hacer</dd>
                <dd>una lista asi... ???</dd>
            </dl>
        </div>
    </main>
    <footer></footer>
</body>
</html>