<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/AppleTrucho.ico">
    <title>Tabla</title>
</head>
<body>
    <header>
        <a href="../index.html" style="text-decoration: none;">Inicio</a>
        <a href="galeria.html" style="text-decoration: none;">Galeria</a>
        <a href="tabla.html" style="text-decoration: none;">Tabla</a>
        <a href="lista.html" style="text-decoration: none;">Lista</a>
        <a href="formulario.html">Formulario</a>
        <a href="https://google.com" target="_blank" style="text-decoration: none;">Google</a>
    </header>
    <main>
        <section>
            <video src="blank" controls></video>
            <audio src="blank" controls></audio>
        </section>
        
        <section>
            <h3>Mapa y Video de YouTube</h3>
            <!-- Mapa -->
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2928.2829277030637!2d-64.99845012442366!3d-42.78236833399581!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbe024ab57051af1b%3A0xf5a27e71bfc61c2e!2sEcocentro%20Pampa%20Azul!5e0!3m2!1ses!2sar!4v1710196772143!5m2!1ses!2sar" width="600" height="450" style="border:0;border-radius: 2%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- YouTube -->
            <div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/SWZvus6-6Yo?si=QUPjY3uQskC4QopL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            </section>
            <section>
            <table border="5">
                <tr>
                    <th>HOLA</th>
                    <th>AMIGOS</th>
                </tr>
                <tr>
                    <td>SOY</td>
                    <td>MORENO</td>
                </tr>
            </table>
            </section>
    </main>
    <footer></footer>
</body>
</html>